@mixin breakpoint($brSize) {
	@media screen and (max-width: $brSize) {
		@content;
	}
}

@mixin break-text() {
	word-wrap: break-word;
	word-break: break-all;
	white-space: normal;
}

@mixin textRainbowAnimation($degrees: 0, $speed: 10s) {
	// Add your colors below ↓
	// background: linear-gradient($degrees, $red, $purple, $cyan, ...);
	background-size: 300%;
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: animateBG $speed linear infinite;
	-moz-animation: animateBG $speed linear infinite;
	-webkit-animation: animateBG $speed linear infinite;
}

@mixin backgoundRainbowAnimation($degrees: 0, $speed: 10s) {
	// Add your colors below ↓
	// background: linear-gradient($degrees, $red, $purple, $cyan, ...);
	background-size: 300%;

	animation: animateBG $speed linear infinite;
	-moz-animation: animateBG $speed linear infinite;
	-webkit-animation: animateBG $speed linear infinite;
}

@mixin scrollbar() {
	overflow: auto;
	&::-webkit-scrollbar {
		width: 0.6em;
	}
	&::-webkit-scrollbar-track {
		background-color: $off-white;
		border-radius: 0 0.62rem 0.62rem 0;
	}
	&::-webkit-scrollbar-thumb {
		background-color: $main-black;
		border-radius: 0 0.4rem 0.4rem 0;
	}
}

@keyframes animateBG {
	0% {
		background-position: 0px 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0px 50%;
	}
}
